USE [master]
GO
/****** Object:  Database [FlightsDBContext-f0a92652-bddf-4399-8cd2-a9c41bb590e0]    Script Date: 19/11/2018 21:26:37 ******/
CREATE DATABASE [FlightsDBContext-f0a92652-bddf-4399-8cd2-a9c41bb590e0]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FlightsDBContext-f0a92652-bddf-4399-8cd2-a9c41bb590e0', FILENAME = N'D:\Programming\DB\MSSQLSERVER\MSSQL12.MSSQLSERVER\MSSQL\DATA\FlightsDBContext-f0a92652-bddf-4399-8cd2-a9c41bb590e0.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'FlightsDBContext-f0a92652-bddf-4399-8cd2-a9c41bb590e0_log', FILENAME = N'D:\Programming\DB\MSSQLSERVER\MSSQL12.MSSQLSERVER\MSSQL\DATA\FlightsDBContext-f0a92652-bddf-4399-8cd2-a9c41bb590e0_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FlightsDBContext-f0a92652-bddf-4399-8cd2-a9c41bb590e0].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FlightsDBContext-f0a92652-bddf-4399-8cd2-a9c41bb590e0]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 19/11/2018 21:26:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ArrivalCity]    Script Date: 19/11/2018 21:26:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArrivalCity](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [nvarchar](max) NULL,
 CONSTRAINT [PK_ArrivalCity] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Customer]    Script Date: 19/11/2018 21:26:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DepartureCity]    Script Date: 19/11/2018 21:26:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DepartureCity](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [nvarchar](max) NULL,
 CONSTRAINT [PK_DepartureCity] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Flight]    Script Date: 19/11/2018 21:26:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flight](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FlightName] [nvarchar](max) NULL,
	[DepartureCity] [nvarchar](50) NULL,
	[ArrivalCity] [nvarchar](max) NULL,
	[DepartureTime] [nvarchar](50) NULL,
	[ArrivalTime] [nvarchar](50) NULL,
	[Direct] [bit] NOT NULL CONSTRAINT [DF__Flight__Direct__24927208]  DEFAULT ((0)),
	[TicketPrice] [int] NOT NULL CONSTRAINT [DF__Flight__TicketPr__25869641]  DEFAULT ((0)),
 CONSTRAINT [PK_Flight] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Order]    Script Date: 19/11/2018 21:26:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DepartureCityNameID] [int] NULL,
	[ArrivalCityNameID] [int] NULL,
	[FlightID] [int] NULL,
	[TicketID] [int] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 19/11/2018 21:26:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TicketType] [int] NOT NULL,
	[Price] [int] NOT NULL,
 CONSTRAINT [PK_Ticket] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Index [IX_Order_ArrivalCityNameID]    Script Date: 19/11/2018 21:26:38 ******/
CREATE NONCLUSTERED INDEX [IX_Order_ArrivalCityNameID] ON [dbo].[Order]
(
	[ArrivalCityNameID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Order_DepartureCityNameID]    Script Date: 19/11/2018 21:26:38 ******/
CREATE NONCLUSTERED INDEX [IX_Order_DepartureCityNameID] ON [dbo].[Order]
(
	[DepartureCityNameID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Order_FlightID]    Script Date: 19/11/2018 21:26:38 ******/
CREATE NONCLUSTERED INDEX [IX_Order_FlightID] ON [dbo].[Order]
(
	[FlightID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Order_TicketID]    Script Date: 19/11/2018 21:26:38 ******/
CREATE NONCLUSTERED INDEX [IX_Order_TicketID] ON [dbo].[Order]
(
	[TicketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_ArrivalCity_ArrivalCityNameID] FOREIGN KEY([ArrivalCityNameID])
REFERENCES [dbo].[ArrivalCity] ([ID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_ArrivalCity_ArrivalCityNameID]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_DepartureCity_DepartureCityNameID] FOREIGN KEY([DepartureCityNameID])
REFERENCES [dbo].[DepartureCity] ([ID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_DepartureCity_DepartureCityNameID]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Flight_FlightID] FOREIGN KEY([FlightID])
REFERENCES [dbo].[Flight] ([ID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Flight_FlightID]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Ticket_TicketID] FOREIGN KEY([TicketID])
REFERENCES [dbo].[Ticket] ([ID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Ticket_TicketID]
GO
USE [master]
GO
